.common-region-style() {
	flex: auto;
	width: 50%;
	height: 50%;
	background: @editor-primary-color;
	box-sizing: border-box;
}

#editor-regions-wrapper {
	position: fixed;
	width: 85%;
	height: 100%;
	left: 15%;
}

#editor-regions {
	display: flex;
	flex-flow: row wrap;
}

.region {
	position: relative;
	
	.editor-box-sizing
}

.region-container() {
	padding: 5px;

	> div {
		margin-bottom: 5px; 
	}
}

#topLeft {}

#topRight {
	.region-container;
}

#bottomLeft {
	.region-container;
}

#bottomRight {
	.region-container;
}

#editor-regions {
	> div:nth-child(1) {
		.common-region-style;
		border-top: 5px solid @editor-background-color;
		border-left: 5px solid @editor-background-color;
		border-bottom: @editor-scroll-bar-size solid @editor-background-color;
	}

	> div:nth-child(2) {
		.common-region-style;
		border-top: 5px solid @editor-background-color;
		border-right: 5px solid @editor-background-color;
		border-left: 10px solid @editor-background-color;

		overflow: auto;
	}

	> div:nth-child(3) {
		.common-region-style;
		border-left: 5px solid @editor-background-color;
		border-bottom: 5px solid @editor-background-color;
		border-top: 10px solid @editor-background-color;

		overflow: auto;
	}

	> div:nth-child(4) {
		.common-region-style;
		border-right: 5px solid @editor-background-color;
		border-bottom: 5px solid @editor-background-color;

		border-left: 10px solid @editor-background-color;
		border-top: 10px solid @editor-background-color;

		overflow: auto;
	}
}