.common-region-style() {
	flex: auto;
	width: 50%;
	height: 50%;
	background: @editor-primary-color;
	box-sizing: border-box;
}

#editor-regions-wrapper {
	display: flex;
	position: fixed;
	width: 85%;
	height: 100%;
	left: 15%;
}

#editor-regions {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}

.region {
	display: flex;
	flex: 1;
	position: relative;
	box-sizing: border-box;

	border: 5px solid @editor-background-color;

	.editor-box-sizing
}

.region-container() {
	flex: 1;
}

#topLeft {
	flex: 1;
}

#topRight {
	.region-container;
}

#bottomLeft {
	.region-container;
}

#bottomRight {
	.region-container;
}

#editor-regions {

	> div:nth-child(1) {
		.common-region-style;
	}

	> div:nth-child(2) {
		.common-region-style;
		overflow: auto;
	}

	> div:nth-child(3) {
		.common-region-style;
		overflow: auto;
	}

	> div:nth-child(4) {
		.common-region-style;
		overflow: auto;
	}
}