.scroll-bar() {
	position: absolute;
	
	border: 0px solid transparent;
	margin: 1px;
}

#canvas-horizontal-scroll-bar { 
	.scroll-bar; 

	left: 0;
	bottom: 0;
}

#canvas-vertical-scroll-bar { 
	.scroll-bar; 

	right: 0;
	top: 0;
}

/*Override jQuery UI slider defaults*/
.ui-slider {
	overflow: hidden;

	.ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: default;
		-ms-touch-action: none;
		touch-action: none;
		padding: 0;
		margin: 0;
		background-color: @editor-button-primary;
	  	border-color: @editor-button-primary-border;

		&:hover {
			background-color: lighten(@editor-button-primary, 5%);
 			border-color: lighten(@editor-button-primary-border, 5%);		
		}
	}
}