#main::-webkit-scrollbar-thumb {
 	background: @editor-button-primary;
 	border: 1px solid white;
 	border-radius: 10px;
}

#main::-webkit-scrollbar-track {
    background: @editor-scroll-bar-track-color;
}

#main::-webkit-scrollbar {
 	width: @editor-scroll-bar-size;
 	height: @editor-scroll-bar-size;
}