@import "../variables.less";
@import "mixins.less";

@import "global.less";
@import "side-menu.less";
@import "regions.less";
@import "viewports.less";
@import "dropdown.less";
@import "two-dimentional-spinner.less";
@import "dialog.less";
@import "menu.less";
@import "scroll-bars.less";
@import "ui-components.less";
@import "status-messages.less";
@import "loader.less";

body {
	background-color: #222222;
}

a:focus {
  	outline-style:none;
	box-shadow:none;
	border-color:transparent;
	background: inherit !important;
}

#main {
	position: relative;
	font-family: 'Russo One';
	width: 100%;
	height: 100%;
}

#game {
	background-color: #000000;
}

#main-editor-container {
	position: relative;
	width: 100%;
}

#main-player-container {
	#player-title	{
		float: left;
		width: 100%;
		color: white;
		font-size: 2em;
		font-weight: bold;
		text-decoration: underline;
		padding: 5px;
	}

	#player-controls {
		float: left;
		width: 100%;
		color: #777777;
		font-size: 1.5em;
		padding: 5px;
	}
}
