@import "../variables.less";
@import "mixins.less";

// html, body, div, canvas {
//   font-family: 'Exo' !important;
// }

// .ui-widget { 
// 	font-family: 'Exo' !important;
// }

// span { 
// 	font-family: inherit !important;
// }

@import "global.less";
@import "side-menu.less";
@import "regions.less";
@import "viewports.less";
@import "dropdown.less";
@import "two-dimentional-spinner.less";
@import "dialog.less";
@import "menu.less";
@import "scroll-bars.less";
@import "ui-components.less";
@import "status-messages.less";
@import "loader.less";

#main {
	position: relative;
}

#game {
	position: relative;
	background-color: #000000;
}
