.toggle() {
	width: 100% !important;
	padding-left: 0px;
	padding-right: 0px;
}

// Grid Toggle
#grid-toggle-button {
	width: 100%;

	& > div {
		.toggle;
	}
}

// Snap to Grid Toggle
#snap-to-grid-toggle-button {
	width: 100%;
	margin-top: 5px;

	& > div {
		.toggle;
	}
}

// World edit
#world-edit {
	width: 100%;
	margin-top: 5px; 

	#world-size-container {
		margin: 0px;
	}
}

// Game object selection dropdown
#game-object-selector {
	width: 100%;
}

// Viewport selection dropdown
#viewport-selector-simple {
	width: 100%;
	margin-top: 5px;
}

// Game Object create button
#game-object-create-button-wrapper {
	margin-top: 5px;

	#game-object-create-button {
		width: 100%;	
	}	
}

