/*
Main Color
	2196F3

Primary pallete
	BBDEFB
	2196F3
	1976D2

Accent pallete
	FFD180
	FFAB40
	FF6D00
*/

html, body, div, canvas {
    margin: 0;
    padding: 0;
}

#main-container {
	position: relative;
	width: 100%;
}

/*Side Menu*/
#editor-side-menu {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;

    width: 15%;
	margin: 0px;

	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	border-bottom: 5px solid #fff;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#editor-side-menu .side-menu-title {
	font-size: 20px;
	padding-bottom: 20px;
}

#editor-side-menu .side-menu-item {
	margin-bottom: 10px;
}

#editor-side-menu li:focus {
	outline: 0px;
}

#editor-side-menu li:focus {
	outline: 0px;
}

#editor-side-menu .side-menu-icon {
	float: right;
	left: 20px;
	margin-top: 3px;
}

/*Regions*/
#editor-regions-wrapper {
	position: relative;
	width: 85%;
	height: 100%;
	left: 15%;
}

#editor-regions {
	position: absolute;
	width: 100%;
	height: 100%;
}

.region {
	position: relative;
		
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    border: 5px solid #fff;
}

.region-header {
	margin: 5px;
	margin-bottom: 10px;
}

.region-header > .status-success {
	padding: 5px;
	margin: 0px;
}

.region-container {
	padding: 5px;
}

.region-container > div {
	margin-bottom: 5px;
}

#editor-regions > div:nth-child(1) {
   float: left;
   overflow: scroll;
   width: 50%;
   height: 50%;

   border-right: 2.5px solid #fff;
   border-bottom: 2.5px solid #fff;

   background: #03A9F4;
}

#editor-regions > div:nth-child(2) {
	float: right;
    overflow: scroll;
    background: #03A9F4;
    width: 50%;
    height: 50%;

    border-left: 2.5px solid #fff;
    border-bottom: 2.5px solid #fff;
}

#editor-regions > div:nth-child(3) {
	float: left;
	overflow: scroll;
    background: #03A9F4;
    width: 50%;
    height: 50%;

    border-right: 2.5px solid #fff;
    border-top: 2.5px solid #fff;
}

#editor-regions > div:nth-child(4) {
	float: right;
	overflow: scroll;
    background: #03A9F4;
    width: 50%;
    height: 50%;

    border-left: 2.5px solid #fff;
    border-top: 2.5px solid #fff;
}

#main {
	position: relative;
}

#game {
	position: relative;
	background-color: #000000;
}

/*Scene name input field*/
#scene-name {
	width: 100%;
	height: 28px;
	margin: 0px;

	cursor: default;
}

/*Grid Toggle*/
#grid-toggle-button {
	width: 100%;
}

#grid-toggle-button label {
	width: 100%;
	text-align: center;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Snap to Grid Toggle*/
#snap-to-grid-toggle-button {
	width: 100%;
	margin-top: 5px;
}

#snap-to-grid-toggle-button label {
	width: 100%;
	text-align: center;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#world-edit {
	width: 100%;
	margin-top: 10px;
}

#world-size-container {
	margin: 0px;
}

#save-and-load-buttons {
	width: 100%;
	margin-top: 10px;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#save-and-load-buttons :nth-child(1) {
	margin-bottom: 1.5px;
}

#save-and-load-buttons :nth-child(2) {
	margin-top: 1.5px;
}

/* Scene save */
#level-save-button {
	width: 100%;
}

/* File load */
#level-load-button {
	width: 100%;	
}

/* Game Object selection dropdown */
#game-object-selector {
	width: 100%;
}

#viewport-selector-simple {
	width: 100%;
	margin-top: 5px;
}

/* Viewport selection */
#viewports-container {
	overflow: scroll;
	height: 250px;
}

#viewports-container > * {
	margin-bottom: 5px;
}

#viewports-container > :nth-child(odd):not(.ui-state-highlight) {
	background-color: #e6e6e6;
}

#viewports-container > :nth-child(even):not(.ui-state-highlight) {
	background-color: #c6c6c6;
}

.viewport-control {
	width: 100%;
}

.viewport-checkboxes {
	width: 100%;
	display: table;
	margin-bottom: 4px;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.viewport-checkboxes > div {
    display: table-row;
}

.viewport-checkboxes > div > input {
    display: none;
}

.viewport-checkboxes > div > label {
    display: table-cell;
}

.viewport-checkboxes > div > input[name='Edit'] + label.ui-state-active {
	cursor: pointer;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-ms-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
	overflow: visible;
}

.split-button.ui-buttonset .ui-state-active {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-ms-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
	overflow: visible;
}

/* Viewport creation */
#viewport-creator button {
	width: 100%;
}

/* Game Object Create button */
#game-object-create-button {
	width: 100%;
}

#game-object-create-button-wrapper {
	margin-top: 5px;
}

/* Editable dropdown */
.drop-down {
    position: relative;
}

.drop-down-menu {
	position: absolute;
}

.drop-down-menu ul {
	min-width: 200px;
	max-width: 250px;
	margin: 0px;

	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	
	list-style-type: none;
	display: inline-block;
	z-index: 99999;
}

.drop-down-menu ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    display: inline-block;
    width: 100%;
    
	margin: 0px;
	padding: 3px;
	margin-top: 4px;
}

.drop-down-menu ul li div {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

	display: inline-block;
	width: 50%;
}

.drop-down-menu ul li div button {
	width: 100%;
}

.drop-down .split-button {
	width: 100%;
}

.drop-down .ui-state-highlight {
	margin: 0px;
	margin-top: 4px;
}

.drop-down .split-button .main-button {
	text-align: left;
	display: inline-block;

	width: 90%;
}

.drop-down .split-button .add-button {
	display: inline-block;
	width: 10%;
}

.drop-down > .ui-button {
	text-align: left;
	width: 100%;
}

/*One Dimentional Spinner*/
.one-dimentional-spinner {
	font-size: .6em;
    width: 50%;
	display: table;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.one-dimentional-spinner > div:nth-child(1) {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	padding-right: 5px;
	width: 20%;
}

.one-dimentional-spinner > div:nth-child(2) {
	display: table-cell;
	width: 80%;
}

.one-dimentional-spinner input {
    width: 100%;
}

.one-dimentional-spinner div > span {
	width: 100%;
}

/*Two Dimentional Spinner*/
.two-dimentional-spinner {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.two-dimentional-spinner label {
	/*font-weight: bold;*/
}

.two-dimentional-spinner > div:nth-child(1) {
	width: 100%;
}


.two-dimentional-spinner > div:nth-child(2) {
	width: 100%;
}

.two-dimentional-spinner > div:nth-child(3) {
	width: 100%;
	margin-top: 2.5px;
}

.two-dimentional-spinner input {
    width: 100%;
}

.two-dimentional-spinner div > span {
	width: 100%;
}

/*Dialog*/
.dialog label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}

.dialog input {
	display: block;
	width: 100%;
	margin-bottom: 7px;
}

.dialog fieldset {
	padding:0; 
	border:0; 
	margin-top:25px;
}

.dialog .selectboxit-container, .dialog .selectboxit-btn, .dialog .selectboxit-options {
  width: 100% !important;
}

.dialog .selectboxit-container .selectboxit-options {
	margin-top: 2px;
	margin-left: 1px;
}

.mouse-cover {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
}

.status-error {
	margin-top: 5px;
}

.status-success {
	margin-top: 5px;
}

.menu {
	position: absolute;
	z-index: 99999;

	min-width: 150px;
	max-width: 200px;
}

.menu ul {
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	list-style-type: none;
}

.menu ul li {
	margin-top: 2px;
	margin-bottom: 2px;
}

/*Override jQuery UI slider defaults*/
.ui-slider {
	overflow: hidden;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	padding: 0;
	margin: 0;
	background: #777;
}

.ui-slider .ui-slider-handle:focus {
    outline: 0;
}

.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 0px dotted black;
}
