html, body, div, canvas {
    margin: 0;
    padding: 0;
}

#game {
	background-color: #000000;
}

/*Container for all the editing options*/
#editor-container input[type=text] {
	position: relative;
}

/*Scene name input field*/
#scene-name {
	width: 50%;
}

/*Separator*/
hr {
	height: 4px;
	border: 0;
	background-color: #ccc;
	width: 50%;
	margin-right: 50%;
}

/*Game Object selection dropdown*/
#game-object-selector {
	width: 50%;
}

/*Update group selection dropdown*/
#group-selector {
	width: 50%;
}

/* Viewport selection */
#viewport-control {
	margin-top: 5px;
	border-radius: 5px;	
	background: #ccc;
	width: 50%;
}

div[id*=viewport-active-checkbox] {
	display: inline-block;	
	margin: 2px;
}

div[id*=viewport-active-checkbox] input {
	display: none;
	position: relative;
}

div[id*=viewport-active-checkbox] input[type=checkbox]:checked + label {
	background: #0f0;
}

div[id*=viewport-active-checkbox] label {
	border-radius: 5px;
	cursor: pointer;
	background: #f00;
	text-align: center;

	padding-left: 20px;
	padding-right: 20px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

div[id*=viewport-outline-checkbox] {
	display: inline-block;	
}

div[id*=viewport-outline-checkbox] input {
	display: none;
	position: relative;
}

div[id*=viewport-outline-checkbox] input[type=checkbox]:checked + label {
	background: #0f0;
}

div[id*=viewport-outline-checkbox] label {
	border-radius: 5px;
	cursor: pointer;
	background: #f00;
	text-align: center;

	padding-left: 20px;
	padding-right: 20px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

#viewport-control select {
	width: 100%;
}

#viewport-control button {
	float: right;
}

#viewport-control select {
	margin-bottom: 2px;
	margin-right: 2px;
	width: 99.7%;
}

.viewport-editor-container {	
	width: 20%;
	margin: 2px;
	font-size: 0.6em;
}

.viewport-editor-label {
	margin: 4px;
	width: 25%;
	display: inline-block;
	white-space:nowrap;
}

.viewport-editor-input-double {
	margin-top: 1px;
	margin-left: 1px;
	font-size: 0.8em;
	width: 31%;
	
	display: inline-block;
	white-space: normal;
	float:right;
}

.viewport-editor-input-single {
	margin-top: 1px;
	margin-left: 1px;
	font-size: 0.8em;
	width: 62%;
	
	display: inline-block;
	white-space: normal;
	float:right;
}
/* Viewport selection */

/* Viewport creation */
#viewport-creator button {
	margin-top: 5px;
	width: 24.7%;
}

#viewport-creator input {
	margin-top: 5px;
	margin-right: 5px;
	width: 25%;
}
/* Viewport creation */


/*Create button*/
#game-object-create-button {
	width: 50%;
}
/*Create button*/

/*Scene save*/
#level-save-button {
	width: 50%;
}
/*Scene save*/

/*File load*/
#level-load-button {
	width: 50%;
	border: 1;	
}
/*File load*/

.editable-drop-down {
	margin-left: 4px;
	overflow: hidden;
}

/*Editable dropdown*/
.editable-drop-down ul {
	min-width: 200px;
	max-width: 250px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-block;
	position: absolute;
	z-index: 99999;
}

.editable-drop-down ul li {
	margin: 5px;
    padding-left: 10px;
    font-size: 0.6em;
}

.editable-drop-down .ui-state-highlight {
	margin: 5px;
}

.editable-drop-down .ui-button {
	width: 100%;
	text-align: left;
}

.editable-drop-down .ui-button-icon-secondary {
	right: 0px;
	top: 50%;
	bottom: 50%;
}
/*Editable dropdown*/

/*Override jQuery UI default font size*/
.ui-button-text {
  font-size: .6em;
}







